:root {
  --primary-black: #1d1d1b;
  --primary-white: #ffffff;
  --secondary-blue: #6200EE;
  --secondary-orange: #ED5218;
}

.project-detail-container {
  display: flex;
  height: 100vh;
  background: url('../images/Background.png') no-repeat center center fixed;
  background-size: cover;
  color: var(--primary-white);
  overflow-y: auto; /* Enable vertical scrolling */
}


.carousel-container {
  flex: 3;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  max-width: 300px;
  box-sizing: border-box;
}

.project-info-container { 
  flex: 2;
  padding: 20px;
  overflow-y: auto; /* Ensure vertical scrolling within the container */
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
  width: 100%; /* Ensure it uses full width */
  max-width: 100%;
}


.white-text {
  color: var(--primary-white);
}


.project-header {
   margin-top: 300px; 
  /* Change depending on resolution */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title-info {
  font-size: 2.5rem;
  margin-bottom: 10px;
  flex: 1;
}

.project-image {
  max-width: 500px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

.project-details {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.project-details div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin: 0 5px;
}

.project-details div strong {
  margin-bottom: 5px;
}

.project-specialization,
.project-client,
.project-group-members {
  margin-bottom: 5px;
  color: var(--primary-white); /* Secondary orange color */
}

.project-group-members ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.project-group-members ul li {
  margin: 0;
  color: var(--primary-white); /* Secondary orange color */
}

.project-description-section,
.project-objectives-section,
.project-impact-section,
.project-prototype-section,
.project-gallery,
.project-git-section {
  margin-bottom: 5px; /* Less margin between sections */
}

.section-title {
  margin-right: 50px;
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: var(--primary-white); /* Secondary blue color */
}

.section-content {
  color: var(--primary-white);
}

.project-gallery {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.gallery-images {
  display: flex;
  gap: 20px; /* Increased gap between images */
  overflow-x: auto;
  padding: 20px 0; /* Increased padding for better spacing */
  justify-content: flex-start; /* Ensure images are aligned to the start */
  flex-wrap: nowrap; /* Prevent wrapping */
  width: auto; /* Allow gallery to extend beyond parent width if needed */
}

.gallery-thumbnail {
  width: 150px; /* Significantly increased width */
  height: 150px; /* Significantly increased height */
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.gallery-thumbnail:hover {
  border: 2px solid var(--secondary-blue); /* Hover color */
}


.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.gallery-full-image {
  max-width: 90%;
  max-height: 90%;
}

.gallery-close,
.gallery-prev,
.gallery-next {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--primary-white);
  cursor: pointer;
}

.gallery-close {
  top: 20px;
  right: 20px;
}

.gallery-prev {
  left: 20px;
}

.gallery-next {
  right: 20px;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: var(--primary-white);
  cursor: pointer;
  z-index: 1000; /* Ensure it's on top of other elements */
}


.back-button:hover {
  background: var(--secondary-orange);
}
