/* src/css/ProjectInfoComponent.css */

/* .project-info {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .project-info-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .project-info-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .project-info-description {
    font-size: 1.2rem;
    color: #666;
  }
  
  .project-info-content {
    margin-top: 20px;
    font-size: 1rem;
    color: #444;
  }
   */