.project-detail-container {
    display: flex;
    height: 100vh;
  }
  
  .carousel-container {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    max-width: 250px; /* Adjust the max-width to make the carousel smaller */
    /* border: solid;
  border-right-color: #f0f0f0;
  border-left: none; */
}
  
  .carousel-item {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add shadow to the active item */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
  }
  
  .carousel-item img {
    width: 100%; /* Ensure the image fits within the carousel item */
    height: auto;
  }
  
  .carousel-item-title {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
  }
  
  .project-info-container {
    flex: 2;
  
  }
  
  .project-info-container h2 {
    font-size: 2rem;
    color: #f0f0f0;
  }
  
  .project-info-container .project-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  /* Arrow button styles */
  .arrow {
    
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    z-index: 10;
  }
  
  .arrow-prev {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .arrow-next {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  ul{
    color: #ffffff;
    font-size: large;
  }
