.vertical-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: thin;
  }
  
  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .carousel-item.active {
    transform: scale(1.2);
    opacity: 1;
  }
  
  .carousel-item:not(.active) {
    transform: scale(0.8);
    opacity: 0.5;
  }
  
  .carousel-image {
    width: 150px;
    height: auto;
  }
  
  .carousel-item-title {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
  }
  